Repository aalto-grades/aalto-grades, pull requests merged in 2022-11, with the labels that each got.

#40 Add SSH config with help for forwarding ports from the dev server
  README.md
  ssh.config
Labels: frontend, backend, database

#41 Backend file structure
  server/src/configs/README.md
  server/src/index.ts
  server/src/models/README.md
  server/src/routes/README.md
  server/src/services/README.md
  server/test/models/README.md
  server/test/routes/README.md
  server/test/services/README.md
  server/tsconfig.json
Labels: backend

#47 Pr open workflow
  .github/workflows/pr-open-workflow.yml
Labels: github

#50 Only run auto-merge job if PR is not a draft
  .github/workflows/auto-merge.yml
Labels: github
